.memoLogin-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.mlbottom {
  height: 700px !important;
  position: relative;
}
.memoLogin-pricing {
  width: 100%;
  position: absolute;
  top: 4.5%;
  bottom: 15%;
  box-sizing: border-box;
  height: 590px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 800px !important; */
  /* background-color: red; */
  padding: 20px;
  @media (max-width: 768px) {
    height: 1200px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
}
.pricing-card {
  background: #5c5470;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  padding: 5px 0px;
  width: 400px;
  box-sizing: border-box;
}
.pricing-card > .life {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  /* background-color: red !important; */
}
.pricing-card > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.pricing-card > .flexible {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
.pricing-card > .divider {
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.line {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: start;
  margin-left: 24%;
}
.line > img {
  margin-right: 10px;
}
.get-started {
  background: #5c5470;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 25px;

  color: #ffffff;
  margin: 20px 2px;
  padding: 7px 10px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  margin-left: 25%;
}

.pricing-text {
  width: 50%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 12px;
  text-align: center;

  color: #5c5470;
}
.pricing-text > .pfont {
  font-family: "Rastanty Cortez";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 5.542px;
  text-transform: capitalize;
  color: #5c5470;
}
.pricing-text > img {
  margin-top: 20px;
}

.memologin-card {
  width: 48%;
  position: absolute;
  top: 6%;
  right: 5%;
  bottom: 3%;
  box-sizing: border-box;
  height: fit-content;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 20px 40px;
}
.memologin-card > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.14px;
  color: #5c5470;
}

.loginsingle-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginsingle-input {
  width: 99%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.loginsingle-input > input {
  height: 45px;
  background: #dee2e6;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  outline: none;
  font-size: 1.5rem;
  position: relative;
  /* background-color: red; */
}

.loginsingle-input > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 10px;
  color: #5c5470;
}

.login {
  width: 100%;
  height: 40px;

  background: #5c5470;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #ffffff;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  border: none;
}

.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.firstLine > h2 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 20px;
  text-transform: uppercase;
  color: #5c5470;
}
.singp {
}
.singp > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;

  color: #5c5470;
  margin-bottom: 8px;
}
.singp > span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 5px;
  color: #5c5470;
  cursor: pointer;
}
.singp > span > img {
  margin-top: -5px;
}

.icons {
  font-size: 1.5rem;
  position: absolute;
  color: #5c5470;

  bottom: 5px;
  right: 15px;
}
.rember {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rember > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #5c5470;
  cursor: pointer;
}
.remberme {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #5c5470;
}
.ordivire {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5c5470;
  margin: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red !important; */
  flex-direction: row;
  overflow: hidden;

}
.ordivire1{
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  /* align-items: center; */
}
.ordivire1>img{
  margin:10px;
  /* margin-top: 13px; */
}
.icons {
  cursor: pointer;
}
.goolge {
  background: #ffffff;
  border: 2px solid #5c5470;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  cursor: pointer;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .memoLogin-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    /* background-color: red; */
  }

  .mlbottom {
    height: 840px !important;
    position: relative;
    background-color: rebeccapurple !important;
  }
  .memoLogin-pricing {
    width: 100%;
    position: absolute;
    top: 4.5%;
    bottom: 15%;
    box-sizing: border-box;
    height: 590px;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1000px !important;
    /* background-color: red !important; */
    /* padding: 20px; */
    @media (max-width: 768px) {
      height: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .pricing-card {
    background: #5c5470;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #fff;
    padding: 5px 0px;
    width: 330px !important;
    box-sizing: border-box;
    top: 0%;
  }
  .pricing-card > .life {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
  }
  .pricing-card > h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  .pricing-card > .flexible {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
  }
  .pricing-card > .divider {
    height: 1px;
    width: 100%;
    background-color: #fff;
  }

  .line {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 9px;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-align: start;
    margin-left: 24%;
  }
  .line > img {
    margin-right: 10px;
  }
  .get-started {
    background: #5c5470;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    outline: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 25px;

    color: #ffffff;
    margin: 20px 2px;
    padding: 7px 10px;
    cursor: pointer;
    height: 45px;
    width: 200px;
    margin-left: 25%;
    @media (max-width: 768px) {
      margin-left: 70px;
    }
  }

  .pricing-text {
    width: 100%;
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 12px;
    text-align: center;

    color: #5c5470;
  }
  .pricing-text > .pfont {
    font-family: "Rastanty Cortez";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 5.542px;
    text-transform: capitalize;
    color: #5c5470;
  }
  .pricing-text > img {
    margin-top: 20px;
  }

  .memologin-card {
    width: 95%;
    position: absolute;
    top: 15%;
    right: 1.9% !important;

    box-sizing: border-box;
    height: fit-content;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 20px;
  }
  .memologin-card > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.14px;
    color: #5c5470;
  }

  .loginsingle-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .loginsingle-input {
    width: 99%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .loginsingle-input > input {
    height: 45px;
    background: #dee2e6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    outline: none;
    font-size: 1.5rem;
    position: relative;
    /* background-color: red; */
  }

  .loginsingle-input > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    color: #5c5470;
  }

  .login {
    width: 100%;
    height: 40px;

    background: #5c5470;
    border-radius: 25px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #ffffff;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    border: none;
  }

  .firstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .firstLine > h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 20px;
    text-transform: uppercase;
    color: #5c5470;
  }
  .singp {
  }
  .singp > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;

    color: #5c5470;
    margin-bottom: 8px;
  }
  .singp > span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    color: #5c5470;
    cursor: pointer;
  }
  .singp > span > img {
    margin-top: -5px;
  }

  .icons {
    font-size: 1.5rem;
    position: absolute;
    color: #5c5470;

    bottom: 5px;
    right: 15px;
  }
  .rember {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
  }
  .rember > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important ;
    line-height: 22px;

    /* identical to box height */

    color: #5c5470;
    cursor: pointer;
  }
  .remberme {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #5c5470;
  }
  .ordivire {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #5c5470;
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .icons {
    cursor: pointer;
  }
  .goolge {
    background: #ffffff;
    border: 2px solid #5c5470;
    border-radius: 25px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
    cursor: pointer;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
