.filter-bar {
   background: #F5F5F5;
   height: 100vh;
    padding: 20px;
    text-align: center;
    width: 309px;
    position: fixed;
    top:80px;
    left: 0;
  }
  
  .filter-bar-title {
    font-family: 'Lora';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 45px;
/* identical to box height, or 225% */
margin: 0;
letter-spacing: 0.2px;
text-transform: uppercase;

color: #5C5470;
  }
  .cat-text{
    font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 18px;
 margin-bottom: 8px;
 margin-left: 10px;
/* identical to box height, or 127% */

text-align: start;
color: #5C5470;
  }
  
  .filter-bar-description {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */
margin:0;
text-align: center;

color: #5C5470;

  }

  .filter-bar-subdesc{
    font-family: 'Rastanty Cortez';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 73px;
    /* identical to box height, or 182% */
    margin: 0;
    text-align: center;
    letter-spacing: 5.542px;
    text-transform: capitalize;
    
    color: #5C5470;
  }
  
  .filter-options {
    display: flex;
    justify-content: center;
  }
  
  .filter-column {
    width: 80%;
  }
.saveBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
   margin-left: 20%;
    margin-top: 20px;
    width: 176px;
    height: 40px;
    color:white;
    border: none;
    background: #5C5470;
    border-radius: 25px;    
}
  .filter-column:first-child{
    width: 60%;
  }
   
  
  .filter-option {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .filter-option input[type="checkbox"] {
    display: none;
  }
  
  .filter-option label {
  
font-family: 'Montserrat';
 font-size: 15px;
 
    cursor: pointer;
   
color: #5C5470;
  }
  
  .filter-option label:before {
    content: ""; /* Tick mark icon from Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
    cursor: pointer;
    background: #F5F5F5;
border: 1px solid #5C5470;
border-radius: 5px;
  }
  
  .filter-option input[type="checkbox"]:checked + label:before {
    content: "\2713";
    background-color: #5C5470;
    color: #fff;
  }
  