.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-top: 80px;
  @media (max-width: 768px) {
    height: fit-content;
  }
}
.hero-create {
  font-size: 1.5vw;
  color: #5c5470;
  text-align: center;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  text-transform: capitalize;
  @media (max-width: 468px) {
    font-size: 4vw;
  }
  
}
@media (min-width: 600px) and (max-width: 800px) {
  .hero-create {
    font-size: 2vw;
  }
}
h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.mBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: #5c5470;
  margin-top: 47px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 20vw;
  height: 52px;
  border: none;
  background: #ffffff;
  border-radius: 25px;
}

.main-text {
  width: 80%;

  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 82px;
  /* or 150% */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.second-para {
  font-family: "Rastanty Cortez";
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 73px;
  /* identical to box height, or 104% */
  margin: 0;
  text-align: center;
  letter-spacing: 5.542px;
  text-transform: capitalize;

  color: #ffffff;
}

.third-para {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  /* or 120% */
  width: 60%;
  text-align: center;
  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px !important;
    margin-bottom: 10px;
    line-height: 50px !important;
    padding-top: 30px !important;
  }

  p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .mBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: #5c5470;
    margin-top: 47px;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 279px;
    height: 52px;
    border: none;
    background: #ffffff;
    border-radius: 25px;
    margin-bottom: 40px !important;
    margin-top: 25px !important;
  }

  .main-text {
    width: 80%;

    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 82px;
    /* or 150% */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }

  .second-para {
    font-family: "Rastanty Cortez";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    /* identical to box height, or 104% */
    margin: 0;
    text-align: center;
    letter-spacing: 5.542px;
    text-transform: capitalize;

    color: #ffffff;
  }

  .third-para {
    font-family: "Lora";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    /* or 120% */
    width: 60%;
    text-align: center;
    text-align: center;

    color: #ffffff;
  }
}
