.memoLogin-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: fit-content !important;
}

.pfbottom1 {
  height: 900px !important;
  position: relative;
}
.memoLogin-pricing1 {
  width: 100%;
  position: absolute;
  gap: 0;
  bottom: 15%;
  box-sizing: border-box;
  height: 590px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 20px;
}
.memopricing-card1 {
  background: #5c5470;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  padding: 5px 0px;
  /* width: 460px; */
  box-sizing: border-box;
  /* background-color: red !important; */
  width: 500px !important;
}
.memopricing-card1 > .life {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.memopricing-card1 > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 52px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  margin-bottom: 20px;
}
.memopricing-card1 > .flexible {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
.memopricing-card1 > .divider {
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.memoline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: start;
  margin-left: 28% !important;
}
.memoline > img {
  margin-right: 10px;
}
.memoget-started {
  background: #5c5470;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 25px;
display: flex;
justify-content: center;
align-items: center;
  color: #ffffff;
  margin: 20px 2px;
  padding: 7px 10px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  margin-left: 30%;
}

.pricing-text {
  width: 50%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 12px;
  text-align: center;

  color: #5c5470;
}
.pricing-text > .pfont {
  font-family: "Rastanty Cortez";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 5.542px;
  text-transform: capitalize;
  color: #5c5470;
}
.pricing-text > img {
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .memoLinesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left !important;
    margin-left: 10% !important;

  }
}
@media screen and (max-width: 768px) {
  .memoLogin-pricing1 {
    display: flex;
    flex-direction: column;
  }
  .memopricing-card1 {
    background: #5c5470;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #fff;
    padding: 5px 0px;
    /* width: 460px; */
    box-sizing: border-box;
    width: 95% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .memoLinesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left !important;
    margin-left: 18%;

  }
  .memopricing-card1 > .life {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
  .memopricing-card1 > h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 45px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  .memopricing-card1 > .flexible {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
  }
  .memopricing-card1 > .divider {
    height: 1px;
    width: 100%;
    background-color: #fff;
  }

  .memoline {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 9px;
    letter-spacing: 0.4px;
    color: #ffffff;
    text-align: start;
    margin-left: 11% !important;
  }
  .memoline > img {
    margin-right: 10px;
  }
  .memoget-started {
    background: #5c5470;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    outline: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 25px;

    color: #ffffff;
    margin: 20px 2px;
    padding: 7px 10px;
    cursor: pointer;
    height: 45px;
    width: 200px;
    margin-left: 12%;
  }

  .pricing-text {
    width: 50%;
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 12px;
    text-align: center;

    color: #5c5470;
  }
  .pricing-text > .pfont {
    font-family: "Rastanty Cortez";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 5.542px;
    text-transform: capitalize;
    color: #5c5470;
  }
  .pricing-text > img {
    margin-top: 20px;
  }
}
@media  (max-width: 400px) {
  .memopricing-card1{
    width: 80vw !important;
  }
  .memoget-started{
    margin: 10px;
    
    
  }
  .memoline{
    display: flex;
    direction: row;
    line-height: 16px;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  
}